<div class="container">
	<div class="row contact">
		<div ng-controller="ContactCtrl">
			<div contact-pane name="seth"></div>
			<div contact-pane name="rory"></div>
			<div contact-pane name="tyler"></div>
			<div contact-pane name="nick"></div>
			<div contact-pane name="derek"></div>
		</div>
		<div class ="col-md-4">
			<h2>Special Thanks: </h2>
			<h4>Byron Patterson</h4>
			<h4>Dr. Ghassan Alkadi</h4>
			<h4>Larry Tester</h4>
			<h4>Rene Abadie</h4>
			<h4>Matt Puneky</h4>
			<h4>Matt Gill</h4>
		</div>
	</div>
</div>
