<div class="container">					
	<div class="row">
		<div class="col-md-12">
			<div class="banner">
				<h1 class="banner-highlight">Southeastern: Sustainability with a vision.</h1>
				<h3 class="banner-highlight">Welcome to the Southeastern Louisiana University's Sustainability Center. We are committed to creating a fully self-sustaining university, and you can view our efforts on this website. See for yourself how efficient the systems are, learn more about the technology, and find out what you can do to get involved!</h3>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-md-4">
				<h3>Longterm Goals:
				<ul>
					<li>80% Self Sufficieny</li>
					<li>80% of biofuels produced</li>
					<li>80% recycling and 20% landfills</li>
					<li>80% of trees produced on campus</li>
					<li>Provide hands-on learning environment.</li>
					<li>Educational outreach to elementary, middle school studdents</li>
				</ul></h3>
			</div>
			<div class="col-md-4">
				<h3>Current Initiatives:
				<ul>
					<li>Photovoltaic</li>
					<li>Photothermal</li>
					<li>Geothermal</li>
				</ul></h3>
			</div>
			<div class="col-md-4">
				<h3>How to get involved:
				<ul>
					<li>Spread the word.</li>
					<li>Recycle!</li>
					<li>Visit Southeastern's Sustainabilty Center</li>
				</ul></h3>
			</div>
	</div>
</div>
