<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="center">
				<button class="btn btn-default" type="button" ng-click="swap()">See {{content}}</button>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="hideChart">
		<div class="col-md-4">
			<div class="sub">
				<canvas doughnut-chart width="300" height="300"></canvas>
			</div>
		</div>
		<div class="col-md-8">
			<div class="sub">
				<h2>{{chartTitle}}</h2>
				<canvas bar-chart width="625" height="450"></canvas>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="!hideChart">
		<div class="col-md-8">
			<div id="#diagram">
				<canvas id="base" diagram width="725" height="525"></canvas>
				<canvas id="arrows" arrows width="725" height="525"></canvas>
			</div>
		</div>
		<div class="col-md-4">
			<div class="sub">
				<canvas doughnut-chart width="300" height="300"></canvas>
			</div>
		</div>
	</div>
</div>