<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div id="side-bar" class="sub">
				<div class="row">
					<div class="col-md-12">
						<h2>Energy Rate</h2>
						<canvas doughnut-chart class="center" width="200" height="200"></canvas>
						<p>{{weather.text}}</p>
						<img src="{{weather.src}}" alt="weather" />
		            	<span><img src="./images/wuLogo.png" alt="Weather Underground" width="200" height="48" /></span>
						<br />
						<br />
						<div class="btn-group center">
							<button class="btn btn-success" type="button" ng-click="toggle.swap()">{{toggle.content}}</button>
							<button class="btn btn-success" type="button" ng-click="updateChart()">Update Chart</button>
						</div>
					</div>
				</div>
				<br />
				<div class="row ">
					<div class="col-md-6">
						<label for="energy-unit">Energy Unit</label>
					</div>
					<div class="col-md-6">
						<select class="form-control" name="energy-unit" ng-model="energy.selected" ng-options="unit for unit in energy.units"></select>
					</div>
				</div>
				<br />
				<div class="row form-div" ng-hide="chart.toggle!==0">
					<br />
					<div class="col-md-6">
						<label for="current-date">Choose Date</label>
					</div>
					<div class="col-md-6">
						<input date-picker class="form-control" name="current-date" ng-model="today" type="datetime"></input>
					</div>
				</div>
				<div class="row form-div" ng-hide="chart.toggle!==1">
					<div class="col-md-6">
						<label for="start-date">Start Date</label>
						<br />
						<input date-picker class="form-control" name="start-date" ng-model="startDate" type="datetime"></input>
					</div>
					<div class="col-md-6">
						<label for="end-date">End Date</label>
						<br />
						<input date-picker class="form-control" name="end-date" ng-model="endDate" type="datetime"></input>
					</div>
				</div>
				<div class="row form-div" ng-hide="chart.toggle!==2">
					<div class="col-md-6">
						<label for="start-month">Start Month</label>
						<br />
						<select class="form-control" ng-model="startMonth" ng-options="month.name for month in monthly.months"></select>
					</div>
					<div class="col-md-6">
						<label for="end-month">End Month</label>
						<br />
						<select class="form-control" ng-model="endMonth" ng-options="month.name for month in monthly.months"></select>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-md-12">
						<div class="btn-group center">
							<button class="btn btn-success" type="button" ng-click="chart.toggle=0" ng-disabled="chart.toggle===0">Current</button>
							<button class="btn btn-success" type="button" ng-click="chart.toggle=1" ng-disabled="chart.toggle===1">Daily</button>
							<button class="btn btn-success" type="button" ng-click="chart.toggle=2" ng-disabled="chart.toggle===2">Monthly</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" ng-hide="toggle.showDiagram">
			<div id="chart-area" class="sub">
				<h1>{{chart.title}}</h1>
				<canvas class="chart" line-chart width="725" height="525" ng-hide="chart.toggle!==0"></canvas>
				<canvas class="chart" bar-chart width="725" height="525" ng-hide="chart.toggle===0"></canvas>
			</div>
		</div>
		<div class="col-md-8" ng-hide="!toggle.showDiagram">
			<div id="diagram" class="sub">
				<h1>{{diagramTitle}}</h1>
				<canvas id="diagram-base" class="chart" diagram width="725" height="525"></canvas>
				<canvas id="arrows" arrows width="725" height="525"></canvas>
			</div>
		</div>
	</div>
</div>