/*--------------------------------
    Site stuff like nav/footer
--------------------------------*/

html{
  overflow:auto;
}
body{
  overflow:inherit;
  background-image: url("../images/diagmonds.png");
}

/*-----------------------
    Background stuff
-----------------------*/
.container-fluid{
    padding:0;
    margin-top:0em;
}
.row{
    margin-top: 0%;
}
.back{
    background-image: url("../images/diagmonds.png");
    height: 100%;
    margin: 0;
}

/*-----------------------
	The NavBar Menu
-------------------------*/
.navBar{
	list-style-type: none;
    /*font-family: 'Roboto', sans-serif;*/
    margin-bottom: 0px;
    padding-bottom:0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: #296b46;
}
.navbar-default {
    background-color: #2E8B57;
  	border-color: #2E8B57;
    
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
}

/*-----------------------
	The Body
-------------------------*/
.mainBody{
    background-color:white;
	height:100%;
    color:white;
    padding-top:2em;
}

.footer
{
    color:white;
}
.back{
    margin-top:50px;
    padding:0;
    height:120%;
    overflow:visible;
}
